@import "../../../../theme.scss";
.newsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour-white;
  border-top: 1px solid $colour-primary-500;

  img {
    max-height: 250px;
  }
}
